@model E_Apoteka.Models.Product
@{
    ViewData["Title"] = "Delivery";
}

<h1 style="font-family: 'Roboto'; font-weight: 500; color:#007bff; font-size:32px; margin-bottom:25px;">Odaberite mjesto dostave</h1>

<div id="myMap" style="position:relative;width:1280px;height:400px;"></div>

@section scripts {
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap' async defer></script>

    <script type='text/javascript'>
        function GetMap() {
            var map = new Microsoft.Maps.Map('#myMap', {
                credentials: 'AvDCZJ9tzXv4sAr93J57w5oE6DFdwZhN-TVE1G4f8AOQlOLQDLrVg-cbODQSjXSb',
                center: new Microsoft.Maps.Location(43.8563, 18.4131),
                mapTypeId: Microsoft.Maps.MapTypeId.aerial,
                zoom: 10
            });

            var pin = new Microsoft.Maps.Pushpin(map.getCenter());
            Microsoft.Maps.Events.addHandler(pin, 'click', pushpinClicked);
            map.entities.push(pin);

            var infobox = new Microsoft.Maps.Infobox(pin.getLocation(), {
                visible: false
            });
            infobox.setMap(map);

            function pushpinClicked(e) {
                if (e.target.metadata) {
                    infobox.setOptions({
                        location: e.target.getLocation(),
                        title: e.target.metadata.title,
                        description: e.target.metadata.description,
                        visible: true
                    });
                }
            }
        }

        // Call the GetMap function once the map control script has loaded
        Microsoft.Maps.loadModule('Microsoft.Maps.AutoSuggest', {
            callback: GetMap
        });
    </script>
}
