#form {
    background-color: #4654e1;
    height: 44px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    margin-right: 0;
}






::placeholder {
    color: #fff;
    opacity: 0.7;
}

.header {
    display: flex;
   
}

#column {
    flex: 1;
}
