html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.*{
    font-family:'Comic Sans MS'
}

.slideshow-container {
    max-width: auto;
    position: relative;
    margin: 10px;
}

.slide {
    display: none;
}

    .slide img {
        width: 100%;
        height: auto;
    }

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.online-pharmacy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    background-color: #007bff;
    padding: 20px;
    color: white;
}


.button-container {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.buy-now {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    cursor: pointer;
    text-decoration: none;
    background-color: white;
    font-family: 'Comic Sans MS';
    font-weight: bold;
}

div.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin: 50px auto;
}

div.container {
    text-align: center;
    padding: 10px 20px;
}

.description{
    font-size: 30px;
    font-family: 'Roboto';
        font-weight: 300;
}

footer {
    display: flex;
}

.footer-column {
    flex: 1;
    padding: 0 10px;
}
