@model IEnumerable<E_Apoteka.Models.ProductCart> // Change the model type to ProductCart

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<body>
    <div class="container">
        <div class="product-container">
            @foreach (var productCart in Model)
            {
                <div class="product-card">
                    <img src="@productCart.Product.ImageUrl" alt="Product Image" class="product-image">
                    <div class="product-info">
                        <p>@productCart.Product.Name</p>
                        <p>Cijena: $@productCart.Product.Price</p>
                        <p>Količina: @productCart.Quantity</p>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="natpis" style="margin-top:50px">
        <div>
            <p style="font-family: IBM Plex Sans; font-size: 17px; font-weight: 100; margin-top:8px; margin-left: 570px; color: rgba(20, 20, 20, 0.7);">
                TOTAL: 
                $@Model.Sum(p => Convert.ToDecimal(p.Product.Price * p.Quantity)).ToString("F2")
                </p>
        </div>
        <div>
            <form action="/Order">
                <button type="submit" class="button5" style="margin-left: 15px; margin-bottom: 50px;">CONTINUE</button>
            </form>
        </div>
    </div>
</body>
