@model IEnumerable<E_Apoteka.Models.Order>

@{
    ViewData["Title"] = "Confirmation";
}

<style>
    h1 {
        font-size: 28px;
        font-family: 'Roboto';
        margin-bottom: 20px;
    }

    p {
        font-size: 18px;
        font-family: 'Roboto';
    }
</style>

<h1>Order Complete</h1>
<p>Thank you for your purchase!</p>
<!--
<form action="/Orders/Confirmation" method="post">
    <input type="hidden" name="id" value="@ViewBag.CartId" required> -->
    <a asp-area="" asp-controller="Products" asp-action="Index">
        <button id="reset-cart-button" style="font-family: 'Roboto'; padding: 10px; background-color: #007bff; color: white; border: none; border-radius: 4px; cursor: pointer; font-size: 16px; width:200px;">OK</button>
    </a>
    <!--
</form>
-->