@model IEnumerable<E_Apoteka.Models.Order>

@{
    ViewData["Title"] = "Index";
}

    <style>
        h1 {
            font-size: 28px;
            font-family: 'Roboto'
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            font-family:'Roboto'
        }
    </style>


    <h1>Order Complete</h1>
    <p>Thank you for your purchase!</p>


